#contacts {
    background-color: var(--red-transparent);
}

#contacts .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1.5rem;
}

#contacts .container .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contacts .container .text h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.25rem;
    width: 14rem;
}

#contacts .container .text h3:focus {
    outline: 2px solid var(--red);
    border-radius: 0.25rem;
}

#contacts .container .text .contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

#contacts .container .text .contacts-list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--black-transparent-2);
}

#contacts .container .text .contacts-list li img {
    width: 1.5rem;
}

.form {
    background-color: var(--red-transparent-2);
    padding: 2rem 1.5rem;
    border-radius: 0.25rem;
}

.form .fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
}

.form .fieldset legend {
    text-align: center;
    color: var(--black);
    font-size: 1.25rem;
    padding: 0.25rem;
    font-weight: 700;
}

.form .fieldset legend:focus {
    outline: 2px solid var(--red);
    border-radius: 0.25rem;
}

.form .fieldset .name-input,
.form .fieldset .email-input,
.form .fieldset .number-input,
.form .fieldset .text-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form .fieldset .name-input label,
.form .fieldset .email-input label,
.form .fieldset .number-input label,
.form .fieldset .text-area label {
    color: var(--black);
    font-weight: 500;
}

.form .fieldset .name-input input[type=text],
.form .fieldset .email-input input[type=email],
.form .fieldset .number-input input[type=tel],
.newsletter .form .fieldset input[type=email] {
    padding: 0.5rem;
    background-color: var(--ice);
    width: 75%;
    font-family: 'Inter', sans-serif;
    color: var(--black-transparent);

    border-radius: 0.25rem;
    border: 2px solid var(--black);
}

.form .fieldset .email-input input[type=email] {
    width: 100%;
}

.form .fieldset .name-input input[type=text]:focus,
.form .fieldset .email-input input[type=email]:focus,
.form .fieldset .number-input input[type=tel]:focus,
.form .fieldset textarea:focus,
.newsletter .form .fieldset input[type=email]:focus {
    border: 2px solid var(--red);
    outline: none;
    background-color: var(--white);
}

.form .fieldset textarea {
    font-family: 'Inter', sans-serif;
    color: var(--black-transparent);
    padding: 0.5rem;
    background-color: var(--ice);

    resize: none;
    overflow: hidden;

    border-radius: 0.25rem;
    border: 2px solid var(--black);
}

.form .fieldset .button-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .fieldset .button-container .submit-button {
    background-color: var(--red);
    padding: 0.875rem 1.875rem;
    width: fit-content;

    font-size: 1rem;
    color: var(--white);

    border-radius: 0.25rem;
    border: none;

    box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s, background 0.3s;
}

.form .fieldset .button-container .submit-button:hover {
    transform: translateY(5px);
    background-color: var(--red-hover);
    cursor: pointer;
}

.form .fieldset .button-container .submit-button:focus {
    transform: translateY(5px);
    background-color: var(--red-hover);
    outline: 2px solid var(--black);
}

#contacts .container figure  {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 12rem;
}

#contacts .container figure img {
    width: 45%;
    height: 100%;
    border-radius: 0.25rem;
}

#contacts .container figure img:focus {
    outline: 2px solid var(--red);
}

#contacts .container .donate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contacts .container .donate h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.25rem;
    width: 14rem;
}

#contacts .container .donate h3:focus {
    outline: 2px solid var(--red);
    border-radius: 0.25rem;
}

#contacts .container .donate p {
    color: var(--black);
    opacity: 0.75;
    line-height: 1.5rem;
}

#contacts .container .donate .donate-button {
    background-color: var(--red);
    width: fit-content;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.875rem;
    border-radius: 0.5rem;

    text-decoration: none;
    color: var(--white);
    font-weight: 500;

    box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s, background 0.3s;
}

#contacts .container .donate .donate-button:hover {
    transform: translateY(5px);
    background-color: var(--red-hover);
}

#contacts .container .donate .donate-button:focus {
    transform: translateY(5px);
    background-color: var(--red-hover);
    outline: 2px solid var(--black);
}

#contacts .container .donate .donate-button img {
    width: 1.5rem;
}

#contacts .container .newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#contacts .container .newsletter h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.25rem;
    width: 12rem;
}

#contacts .container .newsletter h3:focus {
    outline: 2px solid var(--red);
    border-radius: 0.25rem;
}

#contacts .container .newsletter p {
    color: var(--black-transparent-2);
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

#contacts .container .newsletter p span {
    color: var(--red);
    font-weight: 700;
}

#contacts .container .newsletter p span > span {
    color: var(--black);
    font-weight: 500;
}

.newsletter .form {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
} 

.newsletter .form .legend {
    color: var(--black);
    font-size: 1.25rem;
}

.newsletter .form .fieldset {
    padding: 0.5rem 0;
}

.newsletter .form .fieldset input[type=email] {
    width: 100%;
}

.newsletter .form .fieldset .newsletter-button {
    background-color: var(--red);
    width: fit-content;
    padding: 0.5rem 0.875rem;
    border: none;
    border-radius: 0.5rem;

    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-family: 'Inter', sans-serif;

    box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s, background 0.3s;
}

.newsletter .form .fieldset .newsletter-button:hover {
    transform: translateY(5px);
    background-color: var(--red-hover);
}

.newsletter .form .fieldset .newsletter-button:focus {
    transform: translateY(5px);
    background-color: var(--red-hover);
    outline: 2px solid var(--black);
}

@media(min-width: 768px) {
    #contacts .container .text h3 {
        width: fit-content;
    }

    #contacts .container > .form .fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 4rem 10rem 4rem;
        grid-template-areas:
            'name number'
            'email email'
            'textarea textarea'
            'button button';
    }

    #contacts .container > .form .fieldset .name-input input[type=text] {
        grid-area: name;
        width: 100%;
    }

    #contacts .container > .form .fieldset .email-input {
        grid-area: email;
    }

    #contacts .container > .form .fieldset .number-input input[type=tel] {
        grid-area: number;
        width: 100%;
    }

    #contacts .container > .form .fieldset .text-area {
        grid-area: textarea;
    }

    #contacts .container > .form .fieldset .button-container {
        width: 100%;
        justify-content: flex-start;
    }

    #contacts .container figure {
        height: 25rem;
    }

    #contacts .container .donate h3 {
        width: fit-content;
    }

    #contacts .container .donate p {
        width: 80%;
    }

    #contacts .container .newsletter h3 {
        width: fit-content;
    }

    .newsletter .form .fieldset {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .newsletter .form .fieldset input[type=email] {
        width: 20rem;
    }
}

@media(min-width: 1024px) {
    #contacts .container {
        padding: 0 5rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15rem 20rem 15rem 15rem;
        grid-template-areas:
            'text form'
            'img form'
            'donate donate'
            'news news';
    }

    #contacts .container .text {
        grid-area: text;
    }

    .form {
        grid-area: form;
        height: fit-content;
    }

    #contacts .container figure {
        height: 17.5rem;
        grid-area: img;
    }

    #contacts .container figure img {
        height: 100%;
        width: 50%;
    }

    #contacts .container .donate {
        grid-area: donate;
    }

    #contacts .container .newsletter {
        grid-area: news;
    }

    #contacts .container .newsletter p {
        width: 80%;
    }
}

@media(min-width: 1440px) {
    #contacts .container {
        padding: 0 8rem;
        gap: 2rem;
        grid-template-columns: 600px 1fr;
        grid-template-rows: 15rem 20rem;
    }

    .form {
        height: 100%;
    }

    .form .fieldset {
        display: grid;
        grid-template-columns: 12rem 1fr;
        grid-template-rows: 4rem 10rem 4rem;
        grid-template-areas:
            'name email'
            'textarea number'
            'button button';
    }

    .form .fieldset .button-container {
        justify-content: flex-start;
    }

    .form .fieldset .button-container .submit-button {
        grid-area: button;
    }

    #contacts .container figure {
        height: 100%;
        grid-area: img;
    }

    #contacts .container .donate p {
        width: 75%;
    }
}

@media(min-width: 1920px) {
    .form .fieldset {
        grid-template-columns: 20rem 1fr;
    }

    #contacts .container .donate p {
        width: 50%;
    }

    #contacts .container .newsletter p {
        width: 50%;
    }
}