* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #f1f5f9;
    --ice: #f8fafc;
    --white-transparent: #cbd5e1;

    --grey: #6b7280;
    --black: #2D3436;
    --black-transparent: #3e4547fa;
    --black-transparent-2: #2d3436bf;


    --red: #ef4444;
    --red-transparent-2: #fecaca;
    --red-hover: #dc2626;
    --red-transparent: #fee2e2;
    --yellow: #facc15;
    --yellow-transparent: #fde047;
    --yellow-transparent-2: #fef08a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

body.lock-scroll {
    overflow: hidden;
    height: 100%;
}

section {
    padding: 8rem 0;
}

/* Divisor de Sections */
.divider-right {
    height: 2px;
    background: 
        linear-gradient(
            270deg,
            var(--yellow) 0%,
            var(--red) 100%);
}

.divider-left {
    height: 2px;
    background: 
        linear-gradient(
            270deg,
            var(--yellow) 0%,
            var(--red) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.back-to-top-button {
    position: fixed;
    z-index: 4;
    bottom: 1rem;
    right: 1rem;

    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--red);
    border-radius: 50%;
    border: 2px solid var(--black);

    transform: translateY(100%);
    transition: background 0.3s, transform 0.3s, opacity 0.3s, visibility 0.3s;
}   

.back-to-top-button.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.back-to-top-button:hover {
    background-color: var(--red-hover);
}

.back-to-top-button:focus {
    background-color: var(--red-hover);
    outline: none;
}

.back-to-top-button img {
    width: 1.25rem;
    height: 1.25rem;
}

