#home {
    background-color: var(--white);
}

#home .container {
    padding: 0 1.5rem;
}

#home .container .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#home .container .text h1 {
    color: var(--red);
    font-weight: 700;
    font-size: 2rem;
    padding: 0.25rem;
}

#home .container .text h1:focus {
    outline: 2px solid var(--red);
    border-radius: 0.25rem;
}

#home .container .text h1 span {
    color: var(--black);
    font-weight: 500;
}

#home .container .text h3 {
    color: var(--black);
    font-size: 1.5rem;
}

#home .container .text p {
    color: var(--black);
    opacity: 0.75;
    line-height: 1.5rem;
    width: 90%;
}

#home .container figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .container figure img {
    width: 50%;
}

#home .container .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 25rem;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: var(--yellow);
}

#home .container .stats:focus {
    outline: 2px solid var(--black);
}

#home .container .stats .stats-card {
    text-align: center;
}

#home .container .stats .stats-card span {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
}

#home .container .stats .stats-card p {
    color: var(--black);
    opacity: 0.75;
}

@media(min-width: 768px) {
    #home .container figure img {
        width: 25%;
    }

    #home .container .stats {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        height: 10rem;
    }

    #home .container .stats .stats-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home .container .stats .stats-card:nth-of-type(2) {
        border-left: 2px solid var(--black-transparent-2);
        border-right: 2px solid var(--black-transparent-2);
    }

    #home .container .stats .stats-card:nth-of-type(2) p {
        width: 50%;
        text-align: center;
    }
}

@media(min-width: 1024px) {
    #home {
        padding-top: 12rem;
    }

    #home .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'text img'
            'stats stats';
        padding: 0 5rem;
    }

    #home .container .text {
        text-align: left;
        align-items: flex-start;
        grid-area: text;
        margin-bottom: 0;
    }

    #home .container figure {
        grid-area: img;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
    }

    #home .container figure img {
        height: auto;
        width: 15rem;
    }

    #home .container .stats {
        grid-area: stats;
        gap: 0;
    }
}

@media(min-width: 1440px) {
    #home .container {
        padding: 0 8rem;
    }
}